<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>编辑界面</title>
    <link rel="stylesheet" href="../stylesheets/css.css">
    <style>
        /* 注册界面 */
        .zhuce{
            height: 450px;
            width: 800px;
            border:1px solid rgb(185, 183, 183);
            float: left;
            margin-left: 60px;
        }
        .divv{
            height: 50px;
            width: 500px;
            margin-top: 14px;
            margin-left: 150px;
            float: left;
        }
        .zhuce h3{
            float: left;
        }
        .zhuce input{
            float: left;
            width: 300px;
            height: 30px;
            margin-top: 10px;
            margin-left: 20px;
        }
        .zhuce button{
            width:200px;
            height:40px;
            float: right;
            background-color:#1daea9;
            border:0;
            border-radius: 8px;
            color:white;
            font-size:20px;
            font-weight: bolder;
            margin-right: 30px;
            margin-top: 10px;
        }

        
    </style>
</head>
<body>
    <div id="login_form">
        <div class="title">
            <img src='../images/qi-4.png'/>	
            吾宠后台管理系统			
        </div>
        <div class="left">
            <div class="a" style="background: #1daea9;">
                <h1 onclick="showSystem()">系统管理</h1>
            </div>
            <div class="a">
                <h1  onclick="showDongTai()">动态管理</h1>
            </div>
            <div class="a">
                <h1 onclick="showAct()">娱乐管理</h1>
            </div>
            <div class="a">
                <h1 onclick="showUser()">用户管理</h1>
            </div>
        </div>
        
        <form class="zhuce" action="/editAcitve?activeId=<%=editAList[0].activeId%>" method="POST">
            <div class="divv">
                <h3>活动名:</h3>
                <input type="text" name="name" value=<%=editAList[0].activeName%>>
            </div>
            <div class="divv">
                <h3>活动内容:</h3>
                <input type="text" name="content" value=<%=editAList[0].acContent%>>
            </div>
            <div class="divv">
                <h3>图片:</h3>
                <input type="text" name="img" value=<%=editAList[0].acImg%>>
            </div>
            <div class="divv">
                <h3>活动城市:</h3>
                <input type="text" name="city" value=<%=editAList[0].acCity%>>
            </div>
            <div class="divv">
                <h3>活动地址:</h3>
                <input type="text" name="address" value=<%=editAList[0].acAddress%>>
            </div>
            <div class="divv">
                <h3>联系方式:</h3>
                <input type="text" name="contact" value=<%=editAList[0].acContact%> >
            </div>
            <div><button>确认</button></div>
            
        </form>

    </div>
</body>
<script>
   function showSystem() {
        window.location = "http://localhost:3000/system";
    }

    function showDongTai() {
        window.location = "http://localhost:3000/dongtai";
    }
    function showAct() {
        window.location = "http://localhost:3000/activity";
    }
    function showUser() {
        window.location = "http://localhost:3000/userguanli";
    }
</script>
</html>
