<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../stylesheets/css.css"> -->
    <style>
        #login_form{
        width:100%;
        height:100%;
        background-color:#fff;
        margin:0 auto;
        position: fixed;
        top: 0;
        left: 0;
    }
    .title{
        width:100%;
        height:80px;
        float: left;
        color:#ffffff;
        margin-bottom: 3%;
        background-color:#1daea9;
        border-bottom:1px solid #ffffff;
        font-size:20pt;
        font-family:"微软雅黑";
        line-height:80px;				
    }
    .title img{
        margin-top:10px;
        margin-right: 7%;
        margin-left: 1%;
        width: 50px;
        float: left;
    }
    .left{
        height: 450px;
        width: 250px;
        border: 1px solid rgb(185, 183, 183);
        float: left;
    }
    .a{
        height: 100px;
        width: 250px;
        background-color: rgb(185, 183, 183);
        margin-top: 10px;
        float: left;
        color: #fff;
        text-align:center;
    }
    .main{
        /* height: 450px; */
        width: 1000px;
        border: 1px solid rgb(185, 183, 183);
        float: left;
        margin-left: 10px;
    }
    .top{
        height: 100px;
        width: 1000px;
        border-bottom: 1px solid rgb(185, 183, 183);
        float: left;
    }
    .botton{
        text-align: center;
    }
    .botton button{
        background-color: #1daea9;
    }
    .btn{
        height: 50px;
        width: 200px;
        font-size: 15px;
        text-align: center;
        float: right;
        margin-right: 100px;
        margin-top: 50px;
    }
    .bottom{
        bottom: 70px;
        left: 300px;
        position: absolute;
    }
    .btn1{
        margin-left: 600px;
    }
    .btn2{
        margin-left: 20px;
    }
    
        </style>
</head>
<body>
    <div id="login_form">
        <div class="title">
            <img src='../images/qi-4.png'/>	
            吾宠后台管理系统			
        </div>
        <div class="left">
            <div class="a" >
                    <h1 onclick="showSystem()">系统管理</h1>
                </div>
                <div class="a">
                    <h1  onclick="showClub()">社团管理</h1>
                </div>
                <div class="a">
                    <h1  onclick="showDongTai()">社区管理</h1>
                </div>
                <div class="a">
                    <h1 onclick="showAct()">活动管理</h1>
            </div>
            <div class="a" style="background: #1daea9;">
                <h1 onclick="showUser()">用户管理</h1>
            </div>
        </div>
        <div class="main">
            <div class="top">
                <form class="myform" action="/this_manager" method="POST">
                    <input 
                    style='margin-left: 100px;margin-top: 30px;width:400px;height:25px' type='text' value='' placeholder="搜索"
                    class="search_Dongtai" id="search_Dongtai" autocomplete="off" name="search_Dongtai"
                    >
                    <button type='submit' class="search_Bt" id="search_Bt" > 查找</button>
                    <!-- <button>替换</button> -->
                </form>
            </div>
            <div class="botton">
                <table cellspacing=5 cellpadding=10 width=900>
                    <tr>
                      <th> </th>
                      <th>学号</th>
                      <th>用户名</th>
                      <th>头像</th>
                      <th>兴趣爱好</th>
                      <th>学院</th>
                      <th>社团</th>
                      <th>职务</th>
                    </tr>
                    <%for(var i=0;i < userinfo.length;i++){%>
                        <tr>
                            <td ><label><input type="radio" name="0" ></label></td>
                            <td>
                                <%= userinfo[i]["snum"]%>
                            </td>
                            <td>
                                <%= userinfo[i]["sname"]%>
                            </td>
                            <!-- <td><button><a href="/listp?userId=<%= userinfo[i]["userId"]%>">信息</a></button></td>
                            <td>ID</td>
                            <td><button><a href="/liste?userId=<%= userinfo[i]["userId"]%>">关注表</a></button></td> -->
                            <td>
                                <%= userinfo[i]["avatar"]%>
                            </td>
                            <td>
                                <%= userinfo[i]["interest"]%>
                            </td>
                            <td>
                                <%= userinfo[i]["coid"]%>
                            </td>
                            <td>
                                <%= userinfo[i]["club"]%>
                            </td>
                            <td>
                                <%= userinfo[i]["postid"]%>
                            </td>
                            <!-- <td><button><a href="/listd?userId=<%= userinfo[i]["userId"]%>">打卡表</a></button></td> -->
                            <td>
                                    <!-- <button><a href="/editU?userId=<%= userinfo[i]["userId"]%>">编辑</a></button> -->
                                    <button><a href="/delu?snum=<%= userinfo[i]["snum"]%>">删除</a></button>
                            </td>
                        </tr>
                    <%}%>
                    <!-- <tr>
                      <td>
                            <label><input type="radio" name="0" ></label>
                      </td>
                      <td>1</td>
                      <td>abc</td>
                      <td><button onclick="showPet()">信息</button></td>
                      <td>ID</td>
                      <td><button onclick="showGuanzhu()">关注表</button></td>
                      <td>123××××××××</td>
                      <td>******</td>
                      <td><button onclick="showDaka()">打卡表</button></td>
                      <td>
                        <button>编辑</button>
                        <button>删除</button>
                        </td>
                    </tr> -->
                  </table>
                  
                  
            </div>
        </div>
    </div>
</body>
<script>
function showSystem() {
        window.location = "http://localhost:3000/system";
    }
    function showClub() {
        window.location = "http://localhost:3000/club";
    }
    function showDongTai() {
        window.location = "http://localhost:3000/dongtai";
    }
    function showAct() {
        window.location = "http://localhost:3000/activity";
    }
    function showUser() {
        window.location = "http://localhost:3000/userguanli";
    }
    function showPet() {
        window.location = "http://localhost:3000/listp";
    }
    function showDaka() {
        window.location = "http://localhost:3000/listd";
    }
    function showGuanzhu() {
        window.location = "http://localhost:3000/liste";
    }
</script>
</html>
